.rosinstall
.rosinstall.bak

approxmvbb_catkin/
catkin_boost_python_buildtool/
catkin_simple/
# (remove this package) depth_segmentation/
eigen_catkin/
eigen_checks/
gflags_catkin/
glog_catkin/
# (remove this package) mask_rcnn_ros/
minkindr/
minkindr_ros/
modelify_msgs/
numpy_eigen/
opencv3_catkin/
pcl_catkin/
# (remove this package) voxblox-plusplus/
vpp_msgs/
yaml_cpp_catkin/


mask_rcnn_ros/src/mask_rcnn_ros/.ipynb_checkpoints/
mask_rcnn_ros/src/mask_rcnn_ros/__pycache__/
mask_rcnn_ros/src/mask_rcnn_ros/mask_rcnn_coco.h5
mask_rcnn_ros/src/mask_rcnn_ros/*.pyc


*.pyc



mask_rcnn_ros/bags/rgbd_dataset_freiburg3_long_office_household.bag


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
